<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @ingredient.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Min percentage:</strong>
  <%= @ingredient.min_percentage %>
</p>

<p>
  <strong>Max perecentage:</strong>
  <%= @ingredient.max_perecentage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ingredient.description %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
