<div class='stripe'>
  <%= form_with(model: patient, local: true) do |f| %>

  <div class='row '>
    <div class='col-md-4 main-frame center white-background' >

      <% if patient.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

        <ul>
          <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      
      <div class='row'>
        <div class='col-md-6 form-group'>
          <%= f.label :name, :class => 'sr-only' %>
          <%= f.text_field :name, :class => 'full-width', :placeholder => "Name"%>
        </div>
        <div class='col-md-6'>
          <%= f.label :surname, :class => 'sr-only' %>
          <%= f.text_field :surname, :class => 'full-width', :placeholder => "Surname"%>
        </div>
        <div class='col-md-12'>
          <%= f.label :address, :class => 'sr-only' %>
          <%= f.text_field :address , :class => 'full-width', :placeholder => "Address"%>
        </div>
        <div class='col-md-12 date-field-group'>
          <%= f.label :birthdate, :class => 'col-md-6' %>
          <%= f.text_field :birthdate, :class => 'date col-md-6', :placeholder => "YYYY/MM/DD" %>
        </div>
        <div class='col-md-6'>
          <%= link_to_add_fields "Add Ingredient", f, :patients_ingredients %>
        </div>
        <div class='col-md-6'>
          <button type="button" class="green-button" data-toggle="modal" data-target="#myModal">Add Formulation</button>
        </div>
      </div>
      <div class="row">
        <div class='col-md-12'>
          <div id='ingredients'>
              <% @patient.patients_ingredients.each do |pi| %>
                <%= render 'patients_ingredient_fields', f: f, patient_ingredient: pi %>
              <% end %>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12'>
          <%= f.submit 'SUBMIT',:class => 'submit-button' %>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>







<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for :formulation ,url: formulations_for_select_path, remote: true do |g| %>
        <%= g.collection_select :id, @formulations, :id, :name %>
        <div class='row buttons-row'>
          <div class='col-md-6 button-col'>
            <button type="button" class="close-button btn" data-dismiss="modal">CLOSE</button>
          </div>
          <div class='col-md-6 button-col'>
            <%= g.submit "OKAY", :class => "okay-button" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
